{% extends 'anotas/base.html' %}
{% load static %}

{% block content %}

    <!-- Search Bar -->
    <div class="search-box">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </div>

    <!-- Top Subjects and Subjects -->
    <div class="top-subjects">
       <h2>Top Subjects</h2>
    </div>

    <div class="subjects">
        <div class="subject1">
            <div class="subject">Subject 1</div>
        </div>
        <div class="subject2">
            <div class="subject">Subject 2</div>
        </div>
        <div class="subject3">
            <div class="subject">Subject 3</div>
        </div>
    </div>

    <!-- About / Overview -->
    <div class="aboutHeading">
        <h2>About Anotas </h2>
    </div>
    <div class="aboutDescription">
        <div class="aboutDescriptionBox">
            <div class="aboutText">Anotas is a site where users can easily create notes that can then be shared and iterated on by peers. This site aims to streamline the note taking process by introducing a communal aspect to note taking, allowing users to share and borrow notes, using other users notes as a templates for their own notes.
</div>
        </div>
    </div>

{% endblock %}
